
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Validation styles */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}
